/************************** BASE **************************/

body {
	font-size: 16px;
}
img {
	display: inline;
	margin-right: 0;
	margin-bottom: 0;
}
h2 {
	margin-bottom: 24px;
}


/* MARKS */
.mark {
	height: 22px;
	width: 22px;
	right: -1.4em;
	bottom: 0.2em;
}
.correct {
	background-image: url(../images/tick768.png);
}
.wrong {
	background-image: url(../images/cross768.png);
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2) {
	.correct {
		background-image: url(../images/tick768@2x.png);
		background-size: 22px;
	}
	.wrong {
		background-image: url(../images/cross768@2x.png);
		background-size: 22px;
	}

}


/************************** LAYOUT **************************/

.activityContainer, .infoBlockContainer {
	max-width:748px;
	margin: 0 auto;
}
.imageContainer {
	margin-bottom: 0;
}
.activity {
	border: 1px solid #000;
	*border:none;
	padding: 1.75em;
}
.main {
	padding: 1.75em 0;
}
.content > .infoBlockContainer > .infoBlock {
	padding: 1.75em;
}
.main .infoBlock {
	margin-bottom: 1.75em;
}
.block {
	margin-bottom: 1.75em;
}
.interactiveText {
	margin-bottom: 1.75em;
}

/* WORDBOX */
.wordBox {
	padding: 0.875em;
	padding-bottom: 0;
	margin-bottom: 1.75em;
}
.wordBox li.dragItem {
	margin-right: 0.875em;
	margin-bottom: 0.875em;
}


/************************** MODULE **************************/

/*** MARKED COMPONENENTS ***/

.radioItemSelect.horizontal, .checkboxItemSelect.horizontal {
	display: inline-block;
	zoom: 1;
	*display: inline;
	margin-right: 1.75em;
}
.radioItemSelect.vertical, .checkboxItemSelect.vertical {
	display: inline-block;
	zoom: 1;
	*display: inline;
}
.checkboxList.vertical input, .radioList.vertical input {
	top: 0.6em;
}
.locating_popup.typein input {
	display: block;
	width: 90%;
}
.category li {
	margin-bottom: 0.5em;
}
.category .dropTarget {
	padding: 0.5em;
	padding-bottom: 0.2em;
}
.categoriseItemSelect .selectable {
	margin-right: 0.875em;
}
.dragImageItem, .wordBox li.dragImageItem, .dragImageTarget, .category li.dragImageItem {
	padding: 5px;
	width: 120px;
	height: 120px;
}
.dragImageItem img, .wordBox li.dragImageItem img, .dragImageTarget img {
	width: 120px;
	height: 120px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

/* ====================== */
/* THESE VALUES NEED TO BE ADJUSTED ON BOTH CORE AND 768 STYLESHEETS DEPENDENT ON TEXT SIZE */
.wordBox li.dragItem, .dragTarget, .categorise .dragItem {
	min-height: 24px;
}
.dragTarget {
	vertical-align: -8px;
}
.dragTarget.inline.populated {
	padding-top: 3px;
	padding-bottom: 3px;
}
td .dragTarget.inline.populated, .blockSet .block .dragTarget.inline.populated {
	padding-top: 0;
	padding-bottom: 0;
/*In the core stylesheet, we are making the inline dragTargets inline-block to avoid the 'wrapping' effect. Not totally sure that this is a good idea, but it seems to have the desired effect*/
}
/* ====================== */


/*** UNMARKED COMPONENENTS ***/
/* AUDIO */
.rubric .audio.large {
	float: right;
	margin-left: 1em;
	margin-bottom: 0;
}

/* VIDEO */
div.jp-video-360p {
	width: 480px;
	height: 327px;
}
.jp-type-single {
	width: 480px;
	height: 272px;
}
.videoPlayerInterface {
	width: 478px;
	height: 55px;
}

/* BUTTONS */
.actScoring .actScore {
	display: inline-block;
	zoom: 1;
	*display: inline;
	margin-right: 1em;
	margin-bottom: 0;
}
.actScoreButton {
	text-align: left;
	display: inline;
}
.actScoring .singleButton {
	min-width: 7em;
	margin-right: 0.875em;
	display: inline-block;
	zoom: 1;
	*display: inline;
	margin-bottom: 0;
}
.actScoring .singleButton.glossaryButton {
	float: right;
	margin-right: 0;
}
.closeButton {
	width: 36px;
	height: 36px;
	float: right;
	margin-right: 0;
	margin-left: 0.875em;
}
.checkAnswersPageButton, .tryAgainPageButton, .showAnswersPageButton {
	min-width: 70px;
}
.showAnswersPageButton {
	min-width: 120px;
}


/*** CONTENT STYLING ***/

/* SPLIT BLOCK */
/* with padder */
.splitScreenBlock:not(.secondPanelOpen) > .panelOneContainer > .mm_padder,
.splitScreenBlock:not(.firstPanelOpen) > .panelTwoContainer > .mm_padder {
	padding: 1.75em;
}

/* BLOCK SET */
.blockSet {
	text-align: center;
}
.blockSet .wordBox {
	text-align: left;
}
.blockSet .block {
	display: inline-block;
	zoom: 1;
	*display: inline;
	width: 250px;
	margin-left: 0.5em;
	margin-right: 0.5em;
	vertical-align: top;
}
.col {
	margin-bottom: 0;
}
.columns1, .columns2, .columns3 {
	padding: 0 0.2em;
}
.columns2 .col {
	width: 48%;
}
.columns2 .col1 {
	float: left;
}
.columns2 .col2 {
	float: right;
}
.columns3 .col {
	width: 30%;
	float: left;
	margin-right: 3.5%;
}
.columns3 .col3 {
	margin-right: 0;
}

/* IMAGE SET */
.mm_imageSet {
	text-align: center;
	margin-bottom: 0;
}
.mm_imageSet img, .mm_imageSet .imageContainer {
	margin-left: 0.875em;
	margin-right: 0.875em;
	margin-bottom: 1.75em;
	width: 250px;
}
.mm_imageSet img.lastChild {
	margin-bottom: 1.75em;
}

/* IMAGE CAPTIONS */
.imageContainer {
	display: inline-block;
}
.mm_circleNumbered, .mm_caption {

	display: inline-block;
	zoom: 1;
	*display: inline;
	margin-left: 0.875em;
	margin-right: 0.875em;
}

/* READING TEXT WITH IMAGES IN COLUMNS */
.mm_readingWithImages img, .mm_readingWithImages .imageContainer {
	width: 50%;
	float: left;
	margin-right: 0.875em;
}
.mm_readingWithImages .imageContainer img {
	width: 100%;
	float: none;
	margin-right: 0;
}

/* STANDARD BLOCKSET FORMATTING */
.mm_3colBlockSet .block {
	width: 21%;
	margin-left: 1px;
	margin-right: 1px;
	margin-bottom: 0;
}
.mm_4colBlockSet .block {
	width: 21%;
	margin-left: 1px;
	margin-right: 1px;
	margin-bottom: 0;
}
.mm_centeredContent768 .block {
	text-align: center;
}
.mm_centeredContent768 .block .audio {
	margin-left: auto;
	margin-right: auto;
}

/* IMAGE RIGHT - USED TO FLOAT AN IMAGE RIGHT INSIDE A BLOCK */
.mm_imageRight img {
	float: right;
	margin-left: 1.75em;
}


/* SLIDING BLOCK */
.slidingHeader,
.slidingPanel {
  max-width: 600px;
}

.slidingHeader {
	padding: 5px 1.75em;
}
.slidingContent {
	padding: 1.75em;
	padding-top: 70px;
}

/* open gradable styles */
/* WRITING */
[class*="writingReview"],
.writingComment,
.commentText {
	margin-bottom: 1.75em;
}

/*** USEFUL ***/

/************************** THEME **************************/
